<h1>一覧</h1>
<p><%= notice %></p>
<table class="row col-md-12">
<% @users.each do |user| %>
<% if user.id != current_user.id %>
  <tr>
    <td><%= user.nickname %></td>
    <td><%= image_tag user.image.url if user.image && user.image.url %></td>
  </tr>
<% end %>
<% end %>
</table>
<div class="row col-md-12">
  <%= link_to '投稿一覧', pictures_path %>
</div>
