/*
 *= require bootstrap/dist/css/bootstrap.min
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

 body {
   padding-top: 50px;
   background-color: #F7F7F7;
 }

 html {
   position: relative;
   min-height: 100%;
 }
 body {
   text-align: center;
 }
 li{
     list-style:none;
 }
 ul{
     padding:0;
 }

 footer {
   width: 100%;
   background-color: #FFFFFF;
   padding: 20px 0 10px 0;
   color: #000000;
   margin: auto;
   padding-bottom: 10px;
   font-size: 12px;
   bottom: 0;
   position: absolute;
 }

/* navbar */
.logo {
  width: 80%;
}

.navbar {
  background-color: #FFFFFF;
  padding: 10px;
}

.home-nav {
  float: left;
  margin: 5px 15px;
  font-size: 20px;
  color: #000000;
}

.post-nav {
  font-size: 30px;
  color: #000000;
  text-decoration: none;
}

.favorite-list {
  float: left;
  margin: 5px 15px;
  font-size: 20px;
  color: #000000;
}

.user-list {
  float: left;
  margin: 5px 15px;
  font-size: 20px;
  color: #000000;
}

.user-nickname-nav {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 15px;
  color: #000000;
}

.logout-nav {
  float: left;
  margin: 5px 15px;
  font-size: 20px;
  color: #000000;
}

/* login,signout */
.login-form-iphone {
  margin-top: 50px;
}

.login-form-iphone img {
 width: 110%;
}

.login-form-top {
  border-radius: 5%;
  margin-top: 100px;
  padding: 50px 10px;
  background-color: #F7F7F7;
}

.login-form-label {
  margin-top: 10px;
}

.logout {
  margin-top: 20px;
  font-size: 30px;
  color: #000000;
}

.signup-form-top {
  margin-top: 20px;
}

/* main,index */

 .index-cards {
   width: 80%;
 }


 .main-content{
   margin-top: 20px;
 }


 .like-btn {
   float: left;
   font-size: 25px;
   color: #808080;
  }

 .unlike-btn {
  float: left;
  font-size: 25px;
  color: #e54747;
 }

 .created_at_label {
   font-size: 12px;
   color: #808080;
 }

 .like-badge {
   background-color: #e54747;
 }

.user-image {
  float: left;
  margin-left: 15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.user-image-signup {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.user-image-show {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.user-image-picture {
  float: left;
  border-radius: 50%;
  margin-left: 10px;
  width: 35px;
  height: 35px;
}

.user-nickname-picture {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 15px;
}

.card {
  margin-top: 20px;
}

.picture-content {
  padding: 10px;
}

.picture-favorite-btn {
  float: right;
  margin-right: 10px;
}

.card-text {
  text-align: left;
}

.like-message {
  float: left;
  font-size: 14px;
  color: #808080;
}

.like-likemessage {
  float: left;
  margin-top: 2px;
  margin-left: 15px;
}

.text-muted {
  float: left;
  margin-left: 15px;
  font-size: 8px;
}

.user-image-picture-like {
  float: left;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.glyphicon-ok {
  margin-bottom: 1px;
  font-size: 14px;
}

.favorite-delete {
  border-color: #e54747;
  background-color: #e54747;
  color: #FFFFFF;
}

.favorite-post {
  color: #808080;
}

.picture-comments {
  margin-top: 10px;
  border-top: 1px solid #808080;
}

.picuture-comments-detail {
  margin-top: 10px;
  float: left;
  margin-left: 10px;
}
