/*
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

 .like-btn {
   width: 25px;
   height: 30px;
   font-size: 25px;
   color: #e54747;
   margin-left: 20px;
  }

 .unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #e54747;
  margin-left: 20px;
 }

 .created_at_label {
   font-size: 12px;
   color: #808080;
 }

 .like-badge {
   background-color: #e54747;
 }

 /* .image_form {
   display: none;
 } */

.user-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
