/*
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

 body {
   padding-top: 50px;
   background-color: #F7F7F7;
 }

 .navbar {
   background-color: #FFFFFF;
   padding: 10px;
 }

.logout {
  font-size: 30px;
}

.home-nav {
  float: left;
  margin: 5px 15px;
  font-size: 20px;
  color: #000000;
}

.favorite-list {
  float: left;
  margin: 5px 15px;
  font-size: 20px;
  color: #000000;
}

.user-list {
  float: left;
  margin: 5px 15px;
  font-size: 20px;
  color: #000000;
}

.user-nickname-nav {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 15px;
  color: #000000;
}

 .like-btn {
   width: 25px;
   height: 30px;
   font-size: 25px;
   color: #e54747;
   margin-left: 20px;
  }

 .unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #e54747;
  margin-left: 20px;
 }

 .created_at_label {
   font-size: 12px;
   color: #808080;
 }

 .like-badge {
   background-color: #e54747;
 }

 /* .image_form {
   display: none;
 } */

.user-image {
  float: left;
  margin-left: 15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.user-image-signup {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.user-image-show {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
